SUPABASE_URL=https://mdgjncmjvlrhkygcppej.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1kZ2puY21qdmxyaGt5Z2NwcGVqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjkwODY2OSwiZXhwIjoyMDg4NDg0NjY5fQ.R-0NFm9QGXff-43wGEmK2R2IBCmPXmiICkTJ-XZIKC0
SUPABASE_JWT_SECRET=xg0oyc/qwVjcVOsGk70WeNZIGggxZeTabR2KwyS1rDSpHeEuTLxqqaG7PacQrV35eMpedhp6JeghKCPQlhR01Q==

supabase project pass: soy8wK2L2XEB5Usl

# Set to "true" to bypass JWT auth (local dev only — never in production)
TEST_MODE=false
