# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.venv/

# Node.js
node_modules/
npm-debug.log*

# OS specific
.DS_Store
Thumbs.db

# Project specific
test_transcripts/BBA_probation_P1.csv
test_transcripts/BBA_probation_P2.csv
level_1_output.txt
level_2_output.txt
level_3_output.txt
